.ZebraBlindsFooter_wrapper::after {
  display: flex;
  transition: 0.8s;
}

.ZebraBlindsFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: rgb(242, 242, 242);
  background: linear-gradient(to top, #1c1c1c, #1e1e1e, #171717);
  position: fixed;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.9s ease;
  border-left: none;
  border-right: none;
  border-color: #00765e;
  border-width: 5px;
  border-top-width: 30px;

}

.showFooter {
  opacity: 1;
  transition: opacity 0.9s ease;
}


.quantity_and_add_to_cart_group_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40vh;
  font-size: 13px;
  background-color: rgb(248, 248, 248);
  height: max-content;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.quantity_and_add_to_cart_group {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: start;
  border-width: 1px;
  border-color: rgb(165, 165, 165);
  padding: 10px;
  border-radius: 0.15rem;
  margin-top: 5vh;
  padding-left: 2vw;
  height: 800px;
}




.review_your_order_title_group {
  display: flex;
  color: #007476;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.review_your_order_seperator_line3 {
  display: flex;
  height: 2px;
  width: 200px;
  background-color: black;
}

.my_order_band_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  padding: 5px;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(165, 165, 165);

}

.my_order_band_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.my_order_band_element1 {
  background-color: rgb(237, 237, 189);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding-left: 10px;
  padding-right: 10px;
}

.progress_bar_and_order_number {
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.order_number_div {
  display: flex;
  width: max-content;
  align-self: flex-end;
  margin-right: 20px;
}

.order_number_wrapper {
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.order_number_wrapper p {
  padding-left: 20px;
  font-size: 15px;
  padding-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e7e7e7;
  background: linear-gradient(to bottom, #e5e5e5, #d6d6d6, #bcbcbc);
}

.order_number_wrapper p:nth-child(2) {
  background-color: #ef8f00;
  background: linear-gradient(to bottom, #fdae39, #ef8f00, #df8600);
  border-radius: 0.10rem;
  font-weight: 600;
  color: rgb(85, 85, 85);
  transition: 0.3s;
}

.order_number_wrapper p:nth-child(2):hover {
  color: black;
  transition: 0.3s;
  background-color: rgb(228, 164, 68);

}

.progress_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-left: 10vw;
  width: 70vw;
}

.progress_bar_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 50px;

}

.progress_bar_circle_and_number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 123, 140);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: 600;
  color: rgb(40, 40, 40);
  font-size: 15px;
}

.progress_bar_number {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.progress_bar_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 50px;
  text-align: center;
}


.progress_bar_line {
  display: flex;
  width: 20vw;
  height: 2px;
  background-color: rgb(0, 72, 108);

}

.logo_wrapper {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  align-self: flex-start;
}

.review_your_order_bg {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 900px;
  background-color: rgb(248, 248, 248);

}

.review_your_order_bg_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
}


.column1,
.column2,
.column3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50vh;
}


.column_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-width: 1px;
  border-color: rgb(168, 168, 168);
  border-radius: 0.15rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: max-content;
  height: max-content;
  padding-bottom: 20px;
}

.column_wrapper3 {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: rgb(168, 168, 168);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 20vw;
  height: 70vh;
  padding-bottom: 20px;
}

.column1_image {
  display: flex;
  height: auto;
  width: 150px;
  margin: 5px;
  align-self: flex-start;
}



.column_seperator_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;


}

.column_seperator {
  display: flex;
  width: 1px;
  height: 48vh;
  background-color: rgb(79, 79, 79);

}


.description_and_answer_div {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: rgb(211, 211, 211);
  border-top: none;
  border-left: none;
  border-right: none;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 26vw;

}

.window_name_answer,
.window_type_answer,
.width2_answer,
.mount_answer,
.materials_answer,
.lift_type_answer,
.casette_rail_type_answer,
.bottom_rail_type_answer,
.room_name_div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  width: 11vw;
  padding-left: 5px;
  padding-right: 5px;
}

.notes_div {
  display: flex;
  flex-direction: column;
}


.notes_div_wrapper {
  color: #e14b00;
  width: 25vw;
  height: 15vh;
  margin-top: 20px;

}

.notes_section {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-width: 1px;
  border-color: #888888;
  border-radius: 0.10rem;
  margin-top: 10px;
  color: #007497;
  height: 10vh;
  overflow: hidden;

}



.description_and_answer_seperator_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;

}

.description_and_answer_column_seperator {
  display: flex;
  width: 1px;
  height: 20px;
  background-color: rgb(184, 184, 184);

}

.answers_answers,
.answers_answers2,
.answers_answers3 {
  display: flex;
  width: 11vw;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}


.price_summary_wrapper {
  display: flex;
  flex-direction: column;
}

.price_summary_title {
  color: #002e3c;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.price_summary_title2_group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

.price_summary_title2_Spanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18vw;
}

.check_out_button {
  background: linear-gradient(to bottom, #fdae39, #ef8f00, #df8600);
  border-radius: 0.10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-top: 20px;
  padding: 2px;
}

.taxes_title {
  font-size: 15px;
  color: red;
  margin-top: 20px;
}


.countrySelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}