
.footer_wrapper {
    justify-self: flex-end;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .footer {
    width: 100vw;
    height: 100px;
    list-style: none;
    margin: 10px;
    padding: 0;
    background-color: rgb(222, 222, 222);
    
  }