/* header.module.css */

.header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 200px;
  align-items: center;
  background: linear-gradient(to right, #f4f4f4, #f4f4f4, #eaeaea, #f3f3f3);
}

.header_promo_bar {
  height: 40px;
  width: 100vw;
  background: linear-gradient(to right,#f4f4f4,#f4f4f4,#f4f4f4, #d7d7d7, #dddddd,  #dddddd, #d8d8d8);
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.header_promo_bar p {
  font-size: 15px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(78, 78, 78);
}

.header_top_bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  height: 50px;
}


.header_logo {
  display: flex;
margin-bottom: 50px;
}


.logo_image {
  display: flex;
  height: 150px; /* Set the fixed height */
  width: 300px; /* Set the fixed width */
}



.icons_group {
  display: flex;
  margin-right: 50px;

}

.icon_and_text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.icons_for_top {
  display: flex;
  width: 30px;
  margin: 5px;
}

.icons_for_top_text {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links_for_top_wrapper {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  font-size: 15px;
  gap: 10px;
  width: max-content;
  align-items: center;
  justify-content: center;
}


.side_links {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  white-space: nowrap;
  gap: 10px;
}

.add_to_cart {
  display: flex;
  width: 20px;
}

.top_links {
  color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-content: flex-end;
  justify-content: flex-end;
  width: max-content;
  margin-right: 20px;
}


.top_links_item {
  display: flex;
  white-space: nowrap;
}

.divider_line {
  display: flex;
  background-color: black;
  width: 2px;
  height: 20px;
}

.second_menu_bar {
  background: linear-gradient(to right, #264a4e, #487d82, #264a4e);
  width: 100vw;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  height: 50px;
}

.second_menu_bar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: max-content;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.2s;
}

.second_menu_bar_item:hover {
  transform: scale(1.05);
  transition: 0.2s;
  color: #122628;
}


.header_link {
  color: #444444;
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(11, 24, 32);
  padding: 0;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 0.55rem;
  border-width: 1px;
  border-color: #ffffff;
  box-shadow: -3px 3px 5px 0px rgba(255, 255, 255, 0.14);
  background: linear-gradient(to right, #bebebe,#bcbcbc,#adadad);
}


.chevron_top_menu {
  margin-left: 5px;
  height: 7px;
  width: 10px;
  transition: 0.2s;
}

.chevron_top_menu:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.handle_open_menu {
  display: flex;
}


.drop_down_menu {
  display: flex;
  background-color: rgb(27, 27, 27);
  position: fixed;
  margin-left: 270px;
  margin-top: 180px;
  font-size: 10px;
  width: 200px;
  height: max-content;
  align-items: center;
  justify-content: center;
  color: black;
  border-width: 1px;
  border-color: white;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


.drop_down_menu_item {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
  margin: 10px;
  background-color: rgb(22, 22, 22);
  width: 198px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.drop_down_menu_item:hover {
  background-color: rgb(61, 61, 61);
  transition: 0.4s;
  color: rgb(234, 35, 4);
}