.index_wrapper{ 
display: flex;
flex-direction: column;
height: 100vh;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home_wrapper {
  display: flex;
  flex-direction: column;
}


.EconomyBlindsAndShades {
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.intro_piece{ 
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.box { 
  background-color: rgb(219, 232, 234);
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.box_prt1 { 
  display: flex;
  margin: 5px;
}
.box_prt2 { 
  display: flex;
  margin: 5px;
}


.intro_piece_image { 
  width: 500px;
}
.getaquote { 
  background-color: rgb(221, 221, 221);
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
    border-width: 2px;

}

.getaquote:hover, .learnmore:hover  {
  background-color: rgb(232, 232, 232);
  transition: 0.5s;
  border-color: rgb(172, 198, 204);
  border-width: 2px;
}

.learnmore { 
  background-color: rgb(200, 200, 200);
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.middle_social { 
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.socials_div { 
  display: inline-flex;
  margin: 25px;
  gap: 25px;
}


.social_icons { 
  width: 30px;
  height: auto;
}

.add { 
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

}

.two_section_div { 
  display: flex;
  flex-direction: row;
  height: 500px;
  align-items: center;
  justify-content: center;
}


  .whattypeofblindspng {
    width: 500px;
    height: 500px;
    display: flex;
    height: auto;
    margin: 5px;
  }
  
  .what_type_of_blinds_text {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }


  .rectangle_1 {
    background: #efefef;
    border-radius: 5px;
    width: 127.47px;
    height: 200px;
    position: relative;
    top: 35px;
    left: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  
  .rectangle_2 {
    background: #efefef;
    border-radius: 5px;
    width: 127.47px;
    height: 200px;
    position: relative;
    top: 35px;
    left: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
  }


  .rectangle_3 {
    background: #efefef;
    border-radius: 5px;
    width: 127.47px;
    height: 200px;
    position: relative;
    top: 35px;
    left: 75px;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  .rectangle_4 {
    background: #efefef;
    border-radius: 5px;
    width: 127.47px;
    height: 200px;
    position: relative;
    top: 35px;
    left: 80px;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  .rectangle_5 {
    background: #efefef;
    border-radius: 5px;
    width: 127.47px;
    height: 200px;
    position: relative;
    top: 35px;
    left: 85px;
    align-items: center;
    justify-content: center;
    display: flex;

  }

  .title {
    white-space: nowrap;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
  
  .description{
    margin-top: 10px;
    width: 450px;
    color: black;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
  }

  .links{
    margin-top: 10px;
    color: black;
    font-size: 11px;
    font-weight: 700;
    font-size: 14px;
    word-wrap: break-word;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }

  .linkitem { 
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .linkitem:hover{ 
    color: rgb(142, 142, 142);
    transition: 0.2s;
  }

    .are_you_priced_png {
      width: 500px;
      height: 500px;
      display: flex;
      height: auto;
      margin: 5px;
    }

    .are_you_priced_text { 
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5px;
    }
    


  @media (min-width: 200px) and (max-width: 600px) and (orientation: portrait) {
    .EconomyBlindsAndShades {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 17px;
        display: flex;
        

    }
  
  }