.ZebraBlindsFooter_wrapper::after {
  display: flex;
  transition: 0.8s;
}

.ZebraBlindsFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: rgb(242, 242, 242);
  background: linear-gradient(to top, #1c1c1c, #1e1e1e, #171717);
  position: fixed;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.9s ease;
  border-left: none;
  border-right: none;
  border-color: #00765e;
  border-width: 5px;
  border-top-width: 30px;
}

.showFooter {
  opacity: 1;
  transition: opacity 0.9s ease;
}

.index_wrapper {
  z-index: 50;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home_wrapper {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 21vh;
}

.box_prt1 {
  display: flex;
  margin: 5px;
}

.welcome {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

.box_prt2 {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.box {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.getaquote {
  background-color: rgb(221, 221, 221);
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.5s;
  border-width: 2px;

}

.getaquote:hover,
.learnmore:hover {
  background-color: rgb(232, 232, 232);
  transition: 0.5s;
  border-color: rgb(172, 198, 204);
  border-width: 2px;
}

.learnmore {
  background-color: rgb(200, 200, 200);
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.socials_div {
  display: inline-flex;
  margin: 25px;
  gap: 25px;
}


.social_icons {
  width: 30px;
  height: auto;
}

.add {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;

}

.gridbox_one_and_gridbox_two { 
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.gridbox_one, .gridbox_two { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
height: max-content;
  width: 100vw;
}

.two_section_div1,
.two_section_div2,
.two_section_div3,
.two_section_div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(241, 241, 241), rgb(255, 255, 255));
width: max-content;
height: 800px;
border-width: 1px;
border-color: rgb(192, 192, 192);
margin: 10px;
box-shadow: rgb(197, 197, 197) 5px 5px 10px;
border-radius: 0.75rem;
transition: 0.3s;
}

.two_section_div1:hover,
.two_section_div2:hover,
.two_section_div3:hover,
.two_section_div4:hover  {

  transform: scale(1.02);
  transition: 0.3s;

}


.two_section_div1 {
  height: max-content;
}

.two_section_div2 {
  height: max-content;
}

.two_section_div3 {
  height: max-content;
}

.two_section_div4 {
  height: max-content;
}

.two_section_div5 {
  width: 100vw;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.two_section_div5_wrapper {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.rectangle_1,
.rectangle_2,
.rectangle_3,
.rectangle_4,
.rectangle_5 {
  background: #f7f7f7ae;
  border-radius: 5px;
  width: 170px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 5px;
  border-width: 3px;
  border-color: rgb(0, 144, 127);
  box-shadow: rgb(197, 197, 197) 5px 5px 10px;
  transition: 0.3s;
}


.rectangle_1:hover,
.rectangle_2:hover,
.rectangle_3:hover,
.rectangle_4:hover,
.rectangle_5:hover {
  transform: scale(1.04);
  box-shadow: rgb(95, 95, 95) 1px 1px 5px;
  transition: 0.3s;
}

.rectangle_1 {
  background-image: url("/zebrablinds.png");
  background-position: center;
  background-size: cover;
}
.rectangle_2 {
  background-image: url("/shangrilablinds.png");
  background-position: center;
  background-size: cover;
}
.rectangle_3 {
  background-image: url("/romanblinds.png");
  background-position: center;
  background-size: cover;
}
.rectangle_4 {
  background-image: url("/rollerblinds.png");
  background-position: center;
  background-size: cover;
}
.rectangle_5 {
  background-image: url("/honeycombblinds.png");
  background-position: center;
  background-size: cover;
}


.title {
  white-space: nowrap;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.description {
display: flex;
font-size: 10px;
width: 80%;
margin: 10px;
color: rgb(49, 49, 49);
}

.links {
  background-color: rgb(155, 164, 181);
  border-width: 5px;
  box-shadow: rgb(120, 120, 120) 3px 2px 15px;
  border-color: rgb(238, 238, 238);
  width: 45vw;
  color: black;
  font-size: 11px;
  font-weight: 700;
  font-size: 14px;
  word-wrap: break-word;
  transition: 0.5s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  background-image: url("/indexcomponent2.png");
  background-position: center;
  background-size: cover;
}

.linkitem {
  width: 150px;
  display: flex;
  word-wrap: break-word;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 237, 237);
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: 0.2s;
  font-weight: 700;
  margin-top: 10px;
}




.linkitem:hover {
  color: rgb(88, 0, 0);
  transition: 0.2s;
  background-color: rgb(233, 233, 233);
  border-radius: 0.15rem;
}

.box_grid_image {
  width: auto;
  height: 300px;
  display: flex;
  height: auto;
  margin: 5px;
}

.box_grid_text {
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.108);
  color: white;
  border-radius: 0.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}



@media (min-width: 200px) and (max-width: 600px) and (orientation: portrait) {
  .EconomyBlindsAndShades {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 17px;
    display: flex;


  }

}

