.ZebraBlindsFooter_wrapper::after {
  display: flex;
  transition: 0.8s;
}

.ZebraBlindsFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 19vh;
  background-color: rgb(242, 242, 242);
  background: linear-gradient(to top, #1c1c1c, #1e1e1e, #171717);
  position: fixed;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.9s ease;
  border-left: none;
  border-right: none;
border-color: #00765e;
border-width: 5px;
}

.showFooter {
  opacity: 1;
  transition: opacity 0.9s ease;
}


.quantity_and_add_to_cart_group_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40vh;
}



.quantity_and_add_to_cart_group {
  display: flex;
  flex-direction: column;
  width: max-content;
  border-width: 1px;
  border-color: rgb(165, 165, 165);
  padding: 10px;
  border-radius: 0.15rem;
  margin-top: 5vh;
  padding-left: 2vw;
}

.review_your_order_title_group {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.review_your_order_seperator_line3 {
  display: flex;
  height: 2px;
  width: 200px;
  background-color: black;
}

.my_order_band_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10px;
  padding: 5px;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(165, 165, 165);

}

.my_order_band_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.my_order_band_element1 {
  background-color: rgb(237, 237, 189);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding-left: 10px;
  padding-right: 10px;
}

.progress_bar_and_order_number { 
  display: flex;
  flex-direction: column;
  width: 70vw;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.order_number_div { 
  display: flex;
  width: max-content;
  align-self: flex-end;
  margin-right: 20px;
}

.order_number_wrapper { 
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.order_number_wrapper p { 
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(231, 231, 231);
}
.order_number_wrapper p:nth-child(2) { 
  background-color: rgb(239, 143, 0);
  border-radius: 0.15rem;
  font-weight: 600;
  color: rgb(85, 85, 85);
  transition: 0.3s;
}

.order_number_wrapper p:nth-child(2):hover { 
  color: black;
  transition: 0.3s;
  background-color: rgb(228, 164, 68);

}

.progress_bar { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-left: 10vw;
  width: 70vw;
}

.progress_bar_element { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 50px;

}

.progress_bar_circle_and_number { 
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgb(0, 123, 140);
border-radius: 50%;
width: 30px;
height: 30px;
font-weight: 600;
color: rgb(40, 40, 40);
font-size: 15px;
}

.progress_bar_number { 
  display: flex;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.progress_bar_tag { 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 50px;
  text-align: center;
}


.progress_bar_line { 
  display: flex;
  width: 20vw;
  height: 2px;
  background-color: rgb(0, 72, 108);
  
}

.logo_wrapper {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
}

.review_your_order_bg {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 50vh;

}

.review_your_order_bg_wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
}


.column1,
.column2,
.column3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 45vh;
}


.column_wrapper {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: rgb(168, 168, 168);
  border-radius: 0.15rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 30vw;
  height: 45vh;
}  

.column_wrapper3 { 
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-color: rgb(168, 168, 168);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 20vw;
  height: 45vh;

}

.column1_image { 
  display: flex;
  height: auto;
  width: 150px;
  margin: 5px;
}



.column_seperator_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 50vh;


}

.column_seperator {
  display: flex;
  width: 1px;
  height: 43vh;
  background-color: rgb(79, 79, 79);

}


.description_and_answer_div {
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-width: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: rgb(211, 211, 211);
  font-family: Arial, Helvetica, sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 23vw;

}

.window_name_answer,
.window_type_answer,
.width2_answer,
.mount_answer,
.materials_answer,
.lift_type_answer,
.casette_rail_type_answer,
.bottom_rail_type_answer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 10vw;
  background-color: #dadada;
  padding-left: 5px;
  padding-right: 5px;
}

.room_name_and_botes_div { 
  display: flex;
  flex-direction: column;
}

.room_name_div { 
  display: flex;
}

.notes_div { 
  padding: 5px;
  display: flex;
  height: 15vh;
  width: 25vw;
  border-width: 1px;
  margin-top: 10px;
}

.description_and_answer_seperator_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  background-color: #dadada;

}

.description_and_answer_column_seperator {
  display: flex;
  width: 2px;
  height: 20px;
  background-color: black;

}

.answers_answers,
.answers_answers2,
.answers_answers3 {
  display: flex;
  background-color: #dadada;
  width: 10vw;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}


.price_summary_wrapper {
  display: flex;
  flex-direction: column;
}
