.ZebraBlindsFooter_wrapper::after {
    display: flex;
    transition: 0.8s;
}

.ZebraBlindsFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 15vh;
    background-color: rgb(242, 242, 242);
    background: linear-gradient(to top, #1c1c1c, #1e1e1e, #171717);
    position: fixed;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.9s ease;
    border-left: none;
    border-right: none;
    border-color: #00765e;
    border-width: 5px;
    border-top-width: 30px;

}

.showFooter {
    opacity: 1;
    transition: opacity 0.9s ease;
}


.cmspanel_wrapper {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin: 10px;
    margin-top: 5vh;
    gap: 20px;
}

.cms_panel_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    width: 20vw;
    height: 250px;
    border-width: 1px;
    border-color: rgb(218, 218, 218);

}

.cms_panel_label {
    display: flex;
    font-size: 15px;
    color: black;
    height: 30px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.inches_scroller_div {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.span_visibility_1_wrapper { 
    display: flex;
    padding: 10px;
}

.span_visibility_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: max-content;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: 0.6s;
}

.span_visibility_1 div {
    border-width: 1px;
    border-color: green;
    margin-left: 2px;
    margin-right: 2px;
}

.span_visibility_1 div:hover {
    background-color: rgb(195, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 3px;
    transition: 0.3s;
    border-width: 1px;
    border-color: rgb(0, 59, 0);
    margin-left: 2px;
    margin-right: 2px;
}

.inchesWidth { 
    display: flex;
    font-size: 12px;
    color: rgb(124, 0, 0);
margin: 20px;
}

.selectedInch {
    display: flex;
    color: rgb(124, 0, 0);
    margin: 5px;
    padding: 5px;
    border-width: 1px;
    border-color: green;
    margin-left: 2px;
    margin-right: 2px;
}

.cms_panel_input_box {
    display: flex;
    width: 200px;
    height: 30px;
    border-radius: 0.45rem;
    border-width: 3px;
    border-color: grey;
    align-items: center;
    justify-content: flex-start;
    background-color: #eaeaea;
}

.button {
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.45rem;
    transition: 0.3s;
    border-width: 2px;
    border-color: orange;
}

.button:hover {
    transform: scale(1.02);
    transition: 0.3s;
    box-shadow: rgb(0, 0, 0) 0px 0px 4px;
}


.warning {
    background-color: rgb(236, 236, 236);
    margin-top: 10vh;
    padding: 20px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.warning_section_title {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(77, 50, 0);
}

.warning_section {
    word-wrap: nowrap;
    display: flex;
    width: max-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: rgb(157, 102, 0);
    gap: 1vw;
    margin-top: 30px;
    margin-bottom: 30px;

}

.warning_section span {
    color: black;
    font-size: 15px;
    font-weight: 500;
    background-color: grey;
    border-radius: 45px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.warning_section_thank_you {
    word-wrap: nowrap;
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    gap: 1vw;
    margin-top: 30px;
}


.key_locker1,
.key_locker2 {
    display: flex;
    background-color: rgb(224, 224, 224);
    width: 200px;
    height: 25px;
    color: rgb(75, 75, 75);
    border-radius: 0.25rem;
    border-color: orange;
    align-items: center;
    justify-content: center;
    font: 10px;
    box-shadow: #000000 0px 0px 4px;
}