.images_and_subtitles_color_name {
    display: flex;
}

.imageContainer {
    background-color: rgb(212, 212, 212);
    margin: 5px;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    transition: 0.4s;
    width: 120px;
}

.imageContainer:hover {
    transform: scale(1.05);
    transition: 0.4s;
    box-shadow: #858585 2px 3px 7px;
    border-radius: 0.15rem;
}

.imageContainer1 {
    background-color: rgb(212, 212, 212);
    margin: 5px;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    transition: 0.4s;
    width: 120px;
}

.image_and_scroller_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imageContainer2 {
    background-color: rgb(212, 212, 212);
    margin: 5px;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    transition: 0.4s;
    width: 350px;
}

.selectedImage_from_right_gallery {
    border-width: 2px;
    border-color: black;
    padding: 5px;
    display: none;
}

.sliding_gallery_component {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 280px;
    left: 25px;
    width: 500px;
    height: max-content;
    border-width: 2px;
    border-color: rgb(49, 49, 49);
    border-radius: 0.55rem;
    width: 502px;
    height: 502px;
    background: linear-gradient(to bottom, #000000, #122123, #21393c, #122123, #000000);
    box-shadow: rgb(133, 133, 133) 6px 5px 20px;
}


.imageContainer_titles {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 69, 69);
    width: 400px;
    border-radius: 0.35rem;
    box-shadow: rgb(52, 52, 52) 1px 3px 10px;
    margin: 5px;
}

.imageContainer_title1 {
    color: white;
    font-size: 20px;
}

.imageContainer_title2 {
    color: white;
    font-size: 12px;
}

.imageContainer_title3 {
    color: rgb(222, 107, 0);
    font-size: 7px;
    margin: 5px;
}


.selectedImageContainer {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image_itself1 {
    display: flex;
    width: 500px;
    height: auto;
}



.scroller {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 500px;
    gap: 10px;
}

.chevron_left {
    width: 15px;
    height: auto;
    display: none;
    transform: rotate(180deg);
}

.chevron_right {
    width: 15px;
    height: auto;
    display: none;
}

.scroller_image_list {
    display: none;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroller_image {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.whole_thing {
    display: flex;
    width: 100vw;
    position: static;
}

.materials_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.selectColorImageCollection {
    width: 880px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(to top, #eeeeee, #f1f1f1, #e6e6e6, #eeeeee);
    box-shadow: rgb(133, 133, 133) 6px 5px 20px;
    padding: 10px;
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: rgb(227, 227, 227);
    color: rgb(30, 30, 30);
    font-size: 12px;
    white-space: nowrap;
    margin-left: 100px;
}

.white,
.grey,
.bronze,
.black,
.brown,
.beige {
    width: max-content;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.color_section_title {
    display: flex;
    width: 50px;
    height: max-content;
    margin: 10px;
    text-decoration: underline;
}

.divider_line {
    height: 2px;
    width: 100%;
    background-color: rgb(168, 168, 168);
    border-radius: 0.56rem;
}

.images_and_subtitles {
    width: 490px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}



.image_itself {
    display: flex;
    width: 200px;
}