.showImages_wrapper {
    display: flex;
    gap: 1vw;
    background: linear-gradient(to top, #eeeeee, #f1f1f1, #e6e6e6, #eeeeee);
    box-shadow: rgb(133, 133, 133) 6px 5px 20px;
    padding: 10px;
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: rgb(227, 227, 227);
    color: rgb(30, 30, 30);
    font-size: 12px;
    white-space: nowrap;
    height: max-content;
}

.images_and_subtitles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imageContainer {
    background-color: rgb(212, 212, 212);
    margin: 5px;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    transition: 0.4s;
}

.imageContainer:hover {
    transform: scale(1.05);
    transition: 0.4s;
    box-shadow: #858585 2px 3px 7px;
    border-radius: 0.15rem;

}