.showImages_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10x;
    background: linear-gradient(to top, #eeeeee, #f1f1f1, #e6e6e6, #eeeeee);
    box-shadow: rgb(133, 133, 133) 6px 5px 20px;
    padding: 10px;
    border-radius: 0.25rem;
    border-width: 2px;
    border-color: rgb(227, 227, 227);
    color: rgb(30, 30, 30);
    font-size: 12px;
    white-space: nowrap;
}


.white, .grey, .bronze, .black, .brown , .beige{ 
    width: max-content;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.color_section_title { 
    display: flex;
    width: 50px;
    height: max-content;
    margin: 10px;
    text-decoration: underline;
}

.divider_line { 
    height: 2px;
    width: 100%;
    background-color: rgb(168, 168, 168);
    border-radius: 0.56rem;
}
.images_and_subtitles {
    width: 490px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}


.imageContainer {
    background-color: rgb(212, 212, 212);
    margin: 5px;
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    transition: 0.4s;
    width: 120px;
}

.imageContainer:hover {
    transform: scale(1.05);
    transition: 0.4s;
    box-shadow: #858585 2px 3px 7px;
    border-radius: 0.15rem;

}

.selectedImage { 
    border-color: black;
    border-width: 3px;
    border-radius: 0.15rem;
    padding: 5px;
    transition: 0.3s;
    box-shadow: #ffffff 3px 5px 10px;

}

.image_itself { 
    display: flex;
    width: 200px;


}