.header {
  z-index: 100;
}

.page {
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}

.page_wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vw;
  margin-top: 180px;
}

.left_half {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 39vw;
  border-width: 2px;
  align-items: center;
}

.picture_frame {
  display: flex;
  width: 35vw;
  height: 55vh;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-color: rgb(225, 225, 225);
  background-color: rgb(18, 18, 18);
  border-width: 1px;
  border-radius: 0.15rem;
}

.selectedImage_styles {
  display: flex;
  width: 34vw;
  max-height: 54vh;
  flex-direction: row;
}



.sliding_gallery_component {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 35vw;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.imageContainer {
  display: flex;
  height: auto;
  min-width: 60px;
  border-width: 1px;
  border-color: rgb(54, 21, 21);
}


/* RIGHT HALF OF SELECT MOUNT GROUP  */

.right_half {
  position: absolute;
  left: 40vw;
  width: 59vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-width: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.top_title_area {
  display: flex;
  width: 59vw;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.product_title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 25px;
  width: max-content;
  word-wrap: nowrap;
}

.room_darkening_rectangle {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(71, 0, 0);
  border-radius: 0.95rem;
  color: white;
}

.room_darkening_element {
  display: flex;
  width: max-content;
  word-wrap: nowrap;
}

.top_prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.star_group {
  display: flex;
  width: 59vw;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0;
  margin-left: 2vw;

}

.star_6,
.star_7,
.star_8,
.star_9,
.star_10 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: auto;
}

.a_distinctive_look_that {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: max-content;
  padding: 10px;
  font-size: 12px;

}

.top_divider_line {
  height: 2px;
  max-width: 100%;
  background-color: #434343;
  margin: 10px;
}

.select_mount_group {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.select_mount_group_title {
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.inside_mount_group {
  width: 59vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.inside_mount_group_left_side {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25vw;
}

.ellipse_and_type {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.inside_mount_ellipse {
  display: flex;
  background-color: #bbbbbb;
  width: max-content;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.75rem;
  cursor: pointer;
  color: black;
}

.outside_mount_ellipse {
  display: flex;
  background-color: #bbbbbb;
  width: max-content;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.75rem;
  cursor: pointer;
  color: black;
}

.inside_mount_choice {
  white-space: nowrap;
  font-size: 12px;


}
.outside_mount_choice { 
  white-space: nowrap;
  font-size: 12px;

}

.active_inside_outside_ellipse {
  background-color: rgb(40, 40, 40);
  font-size: 12px;
  color: rgba(66, 220, 0, 0.881);}


.inside_mount_measurement_instructions {
  display: flex;
  font-size: 12px;
}

.step_1_inside_mount,
.step_2_inside_mount,
.step_3_inside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 20vw;
  height: 10vh;
  padding: 10px;
  background-color: rgb(233, 233, 233);
}

.step_tag {
  display: flex;
  background-color: black;
  width: 5vw;
  height: 2vh;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.24rem;
  color: white;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.step_tag_description {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  height: 8vh;
  width: 20vw;
  background-color: rgb(249, 249, 249);
  padding: 10px;
}

.inside_mount_group_right_side {
  display: flex;
  width: 25vw;
  align-items: center;
  justify-content: center;
  border-width: 2px;
}

.insidemount_Image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-width: 5px;
}

.enter_size_inside_mount_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 25vh;
}

.enter_size_inside_mount_title {
  display: flex;
  font-size: 15px;
}

.enter_height_and_width_inside_mount_group {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  height: max-content;
}

.enter_height_group_inside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 15vw;
  background-color: rgb(235, 235, 235);
}


.height_and_toggle_inside_mount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.height_inside_mount_sub_title {
  display: flex;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
}

.enter_height_inside_mount_rectangle_1 {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 15vw;
  height: 10px;
}

.toggle_disclaimer_inches_inside_mount_height {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_1 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.height_scroll_number_inches_inside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top:0vh ;
  z-index: 1;
  width: 200px;
  height: max-content;
  overflow-x: scroll;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

.display_whole_numbers_wrapper_inside_mount_height { 
  width: 100px;
}

.displayWholeNumbers_inside_mount_height { 
  gap: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.ScrollNumberInches_height_inside_mount { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleNumber_inside_mount_height:hover { 
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;

  }

.selectedNumber_height_inside_mount { 
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}


.enter_height_inside_mount_rectangle_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 15vw;
  height: 10px;
}

.toggle_disclaimer_fractions_inside_mount_height {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}


.polygon_2 { 
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.height_scroll_number_fractions_inside_mount { 
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top:0vh ;
  z-index: 1;
  width: 200px;
  height: max-content;
  overflow-x: scroll;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

.display_fractions_wrapper_inside_mount_height { 
  width: 100px;
}

.ScrollNumberFractions_height_inside_mount { 
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.displayFractions_inside_mount_height {
  gap: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.singleFraction_height_inside_mount:hover{ 
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedFraction_height_inside_mount { 
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}


.enter_width_group_inside_mount { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 15vw;
  background-color: rgb(235, 235, 235);
}

.width_and_toggle_inside_mount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.width_inside_mount_sub_title { 
  display: flex;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
}

.enter_width_inside_mount_rectangle_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 15vw;
  height: 10px;
}

.toggle_disclaimer_inches_inside_mount_width { 
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_3 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.width_scroll_number_inches_inside_mount { 
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top:0vh ;
  z-index: 1;
  width: 200px;
  height: max-content;
  overflow-x: scroll;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}


.display_whole_numbers_wrapper_inside_mount_width { 
  width: 100px;
}


.displayWholeNumbers_inside_mount_width { 
  gap: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.ScrollNumberInches_width_inside_mount { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.singleNumber_inside_mount_width:hover { 
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedNumber_inside_mount_width { 
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

  .enter_width_inside_mount_rectangle_2 { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 15vw;
    height: 10px;
  }
  
  .toggle_disclaimer_fractions_inside_mount_width { 
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    margin: 10px;
    white-space: nowrap;
  }

  .polygon_4 {
    display: flex;
    transform: rotate(180deg);
    width: 10px;
    top: 0;
  }

  .width_scroll_number_fractions_inside_mount { 
    position: static;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top:0vh ;
    z-index: 1;
    width: 200px;
    height: max-content;
    overflow-x: scroll;
    border-width: 1px;
    border-color: black;
    padding: 5px;
  }

  .display_fractions_wrapper_inside_mount_width { 
    width: 100px;
  }

  
  .displayFractions_inside_mount_width { 
    gap: 15px;
    padding: 10px;
    width: 22px;
    height: 22px;
    font-size: 15px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }


  .ScrollNumberFractions_width_inside_mount { 
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .singleFraction_width_inside_mount:hover { 
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 0.24rem;
    border-width: 1px;
    border-color: grey;
  }

  .selectedFraction_width { 
    background-color: rgb(88, 0, 0);
    color: rgb(212, 212, 212);
    border-radius: 0.24rem;
    border-width: 1px;
    border-color: grey;  
  }



  .outside_mount_group { 
    width: 59vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.outside_mount_group_left_side { 
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 25vw;
}

.outside_mount_instructions { 
  display: flex;
  font-size: 12px;
}

.step_1_outside_mount, .step_2_outside_mount, .step_3_outside_mount { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 25vw;
  height: 10vh;
  padding: 10px;
  background-color: rgb(233, 233, 233);
}



.outside_mount_group_right_side { 
  display: flex;
  width: 25vw;
  align-items: center;
  justify-content: center;
  border-width: 2px;

}

.outsidemount_Image { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  border-width: 5px;
}

.enter_size_outside_mount_group { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 25vh;
}

.enter_size_outside_mount_title { 
  display: flex;
  font-size: 15px;
}

.enter_height_and_width_outside_mount_group { 
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  height: max-content;
}

.enter_height_group_outside_mount { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 15vw;
  background-color: rgb(235, 235, 235);

}

.height_and_toggle_outside_mount { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.height_outside_mount_sub_title { 
  display: flex;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
}

.enter_height_outside_mount_rectangle_1 { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 15vw;
  height: 10px;
}

.toggle_disclaimer_inches_outside_mount { 
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}


.polygon_5 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}


.height_scroll_number_inches_outside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top:0vh ;
  z-index: 1;
  width: 200px;
  height: max-content;
  overflow-x: scroll;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

.display_whole_numbers_wrapper_outside_mount_height { 
  width: 100px;
}

.displayWholeNumbers_outside_mount_height { 
  gap: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.ScrollNumberInches_height_outside_mount { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleNumber_outside_mount_height:hover { 
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedNumber_height_outside_mount { 
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.enter_width_outside_mount_rectangle_2 { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 15vw;
  height: 10px;
}

.toggle_disclaimer_fractions_outside_mount { 
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}



.polygon_6 { 
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.height_scroll_number_fractions_outside_mount { 
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top:0vh ;
  z-index: 1;
  width: 200px;
  height: max-content;
  overflow-x: scroll;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

.display_fractions_wrapper_outside_mount_height { 
  width: 100px;
}

.displayFractions_outside_mount_height { 
  gap: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


.ScrollNumberFractions_height_outside_mount { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.singleFraction_height_outside_mount:hover { 
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedFraction_outside_mount_height { 
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}


.enter_width_group_outside_mount { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 15vw;
  background-color: rgb(235, 235, 235);
}

.width_and_toggle_outside_mount { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.width_outside_mount_sub_title { 
  display: flex;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
}

.enter_width_outside_mount_rectangle_1 { 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 15vw;
  height: 10px;
}

.toggle_disclaimer_inches_outside_mount { 
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_7 { 
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.width_scroll_number_inches_outside_mount { 
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top:0vh ;
  z-index: 1;
  width: 200px;
  height: max-content;
  overflow-x: scroll;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

.display_whole_numbers_wrapper_outside_mount_width { 
  width: 100px;
}

.displayWholeNumbers_outside_mount_width { 
  gap: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.ScrollNumberInches_width_outside_mount { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleNumber_outside_mount_width:hover { 
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedNumber_outside_mount_width { 
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}


.polygon_8 { 
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.width_scroll_number_fractions_outside_mount { 
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top:0vh ;
  z-index: 1;
  width: 200px;
  height: max-content;
  overflow-x: scroll;
  border-width: 1px;
  border-color: black;
  padding: 5px;
}

.display_fractions_wrapper_outside_mount_width { 
  width: 100px;
}

.displayFractions_outside_mount_width { 
  gap: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.ScrollNumberFractions_width_outside_mount { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.singleFraction_width_inside_mount:hover { 
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedFraction_width_outside_mount_width { 
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}


.select_color_type_seperator_line { 
  height: 2px;
  width: 100%;
  background-color: red;
  margin: 10px;
}

.select_color_long_rectangle { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 5vh;
  border-radius: 2rem;
  background-color: #c1c1c1;
  justify-content: start;

}

.select_color_short_rectangle { 
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 12vw;
  height: 5vh;
  border-radius: 2rem;
  background-color: #820000;
}
.select_color_short_rectangle:hover {
  cursor: default;
}

.select_color_title { 
  color: white;
  font-size: 15px;
}

.select_lift_type_seperator_line { 
  display: flex;
  height: 2px;
  width: 100%;
  margin: 10px;
  background-color:red;
}

/* mobile styling */

@media (min-width: 300px) and (max-width: 1190px) and (orientation: landscape) {
  .top_title_area {
    display: flex;
    width: 48vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
  }

  .star_group {
    display: flex;
    width: 48vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  /* inside mount */

  .inside_mount_group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .insidemount_Image {
    width: 60vw;
  }

  .step_1_inside_mount,
  .step_2_inside_mount,
  .step_3_inside_mount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5vh;
    width: 50vw;
    height: 10vh;
    background-color: rgb(233, 233, 233);
  }

  /* outside mount */

  .outside_mount_group { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .outsidemount_Image { 
    width: 60vw;

  }

  .step_1_outside_mount, .step_2_outside_mount, .step_3_outside_mount { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5vh;
    width: 50vw;
    height: 10vh;
    background-color: rgb(233, 233, 233);
  }


  /* other details */
  .step_tag_description {
    display: flex;
    width: max-content;
    width: 40vw;
    height: 9vh;
  }

}


@media (min-width: 300px) and (max-width: 1190px) and (orientation: portrait) {
  .top_title_area {
    display: flex;
    width: 48vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
  }

  .star_group {
    display: flex;
    width: 48vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  .inside_mount_group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .insidemount_Image {
    width: 60vw;
  }

  .step_1_inside_mount,
  .step_2_inside_mount,
  .step_3_inside_mount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
    width: 50vw;
    height: 10vh;
    background-color: rgb(233, 233, 233);
  }

  .step_tag_description {
    display: flex;
    width: max-content;
    width: 40vw;
    height: 9vh;
  }
}



/* mobile styling */