.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}

.header_piece {
  z-index: 100;
  position: fixed;
  display: flex;
  width: 100vw;
  height: max-content;
}

.page_wrapper {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: max-content;
  margin-top: 200px;
}

.frame_title {
  display: flex;
  margin: 30px;
  font-size: 15px;
  font-weight: 500;
}


.picture_frame {
  display: flex;
  width: 400px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 0;
  border-color: rgb(237, 237, 237);
  background: linear-gradient(to bottom, #06090b, #141b1f, #19252c, #1c2022);
  border-width: 1px;
  border-radius: 0.75rem;
}

.selectedImage_styles {
  display: flex;
  width: 380px;
  max-height: 280px;
  flex-direction: row;
  border-radius: 0.56rem;

}

.sliding_gallery_component {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 350px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.imageContainer {
  display: flex;
  height: auto;
  min-width: 60px;
  border-width: 1px;
  border-color: rgb(54, 21, 21);
}


/* RIGHT HALF OF SELECT MOUNT GROUP  */

.right_half {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  margin-top: 0;
  margin-left: 550px;
  display: flex;
  position: static;
  flex-direction: column;
  padding: 20px;
  border-width: 2px;
}

.top_title_area {
  display: flex;
  width: max-content;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin: 10px;
}

.product_title {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 40px;
  width: max-content;
  word-wrap: nowrap;
}

.room_darkening_rectangle {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(71, 0, 0);
  border-radius: 0.95rem;
  color: white;
}

.room_darkening_element {
  display: flex;
  width: max-content;
  word-wrap: nowrap;
  font-size: 13px;
}

.top_prices {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
}

.price_regular {
  display: flex;
  color: green;
}

.price_discount {
  display: flex;
  color: brown;
}

.star_group {
  display: flex;
  width: 850px;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-left: 20px;

}

.star_6,
.star_7,
.star_8,
.star_9,
.star_10 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: auto;
}


.a_distinctive_look_that {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: max-content;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 20px;
}

.top_divider_line {
  height: 2px;
  max-width: 100%;
  background-color: #434343;
  margin: 10px;
}

.select_mount_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 850px;
  background: linear-gradient(to bottom, #f4f4f4, #f4f4f4, #f5f5f5, #f7f7f7);
  height: max-content;

}

.titled_step_combo_head {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: max-content;
  align-self: start;
  justify-content: flex-start;
  margin-top: 20px;
}

.select_mount_type_long_rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 35px;
  border-radius: 2rem;
  background-color: #c1c1c1;
  justify-content: start;
}

.select_mount_type_short_rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  padding: 10px;
  border-radius: 2rem;
  background-color: #820000;
}

.select_mount_type_short_rectangle:hover {
  cursor: default;
}

.iconforselect_mount_type {
  display: none;
  padding: 2px;
  width: 15px;
  height: auto;
  transform: rotate(90deg);
  margin: 10px;
}

.select_mount_type_group_title {
  gap: 20px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #f1f1f1;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select_mount_type_group_title_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 2rem;
  margin: 5px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.inside_mount_group {
  width: 850px;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left_right_inside_mount {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.visible_inside_mount {
  display: contents;
}

.invisible_inside_mount {
  display: none;
}

.left_inside_mount {
  display: flex;
  height: 500px;
  margin-top: 30px;
}

.inside_mount_group_left_side {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.ellipse_and_type {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: max-content;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(243, 243, 243);
  border-radius: 2rem;
  height: 20px;
  box-shadow: rgb(133, 133, 133) 1px 2px 5px;
}

.inside_mount_ellipse {
  display: flex;
  background-color: #bbbbbb;
  width: max-content;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.75rem;
  cursor: pointer;
  color: black;
}

.outside_mount_ellipse {
  display: flex;
  background-color: #bbbbbb;
  width: max-content;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.75rem;
  cursor: pointer;
  color: black;
}

.inside_mount_choice {
  white-space: nowrap;
  font-size: 15px;
}

.outside_mount_choice {
  white-space: nowrap;
  font-size: 15px;
}

.active_inside_outside_ellipse {
  background-color: rgb(40, 40, 40);
  font-size: 12px;
  color: rgba(66, 220, 0, 0.881);
}

.inside_mount_measurement_instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.measurement_instructions_title_inside_mount {
  font-size: 15px;
  color: #ffffff;
  background-color: #ababab;
  padding: 5px;
  border-radius: 0.24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step_1_inside_mount,
.step_2_inside_mount,
.step_3_inside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 400px;
  height: 120px;
  padding: 10px;
  background-color: rgb(235, 235, 235);
}

.step_tag {
  display: flex;
  background-color: black;
  width: 50px;
  height: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0.24rem;
  color: white;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.step_tag_description {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  height: 100px;
  width: 300px;
  background-color: rgb(249, 249, 249);
  padding: 5px;
  font-size: 10px;
  color: black;
}

.right_inside_mount {
  display: flex;
  height: 500px;
  width: max-content;
  margin-top: 30px;
}

.inside_mount_group_right_side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.insidemount_Image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-width: 2px;
  border-color: #3d3d3d;
  padding: 5px;
  border-radius: 0.45rem;
}

.enter_size_inside_mount_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: max-content;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50pxs;
  border-width: 2px;
  border-radius: 0.45rem;
  border-color: #c2c2c2;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  transition: 0.4s;
}

.enter_size_inside_mount_group:hover {
  transition: 0.4s;
  box-shadow: rgb(60, 60, 60) 3px 2px 10px;
  border-color: #747474;
}

.enter_size_inside_mount_title {
  display: flex;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(43, 43, 43);
}

.enter_height_and_width_inside_mount_group {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  height: max-content;
  gap: 10px;
}

.enter_height_group_inside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 390px;
  background-color: rgb(235, 235, 235);
}


.height_and_toggle_inside_mount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.height_inside_mount_sub_title {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
  width: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
}


.enter_height_inside_mount_rectangle_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_inches_inside_mount_height {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_1 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.scroller_partition_height_inside_outside_mount {
  display: flex;
  width: 100px;
}

.height_scroll_number_inches_inside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.height_scroll_number_inches_inside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}

.display_whole_numbers_wrapper_inside_mount_height {
  width: 100px;
}

.displayWholeNumbers_inside_mount_height {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayWholeNumbers_inside_mount_height_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.ScrollNumberInches_height_inside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleNumber_inside_mount_height:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;

}

.selectedNumber_height_inside_mount {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.enter_height_fractions_inside_mount_rectangle_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_fractions_inside_mount_height {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_2 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}


.scroller_partition_height_inside_mount {
  display: flex;
  width: 100px;
}

.height_scroll_number_fractions_inside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.height_scroll_number_fractions_inside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}

.display_fractions_wrapper_inside_mount_height {
  width: 100px;
}

.displayFractions_inside_mount_height {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayFractions_inside_mount_height_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.ScrollNumberFractions_height_inside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.singleFraction_height_inside_mount:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedFraction_height_inside_mount {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: rgb(95, 92, 92);
}

.enter_width_group_inside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 390px;
  background-color: rgb(235, 235, 235);
}

.width_and_toggle_inside_mount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.width_inside_mount_sub_title {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
  width: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
}



.enter_width_inside_mount_rectangle_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_inches_inside_mount_width {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_3 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.scroller_partition_width_inside_mount {
  display: flex;
  width: 100px;
}

.width_scroll_number_inches_inside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.width_scroll_number_inches_inside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}

.display_whole_numbers_wrapper_inside_mount_width {
  width: 100px;
}

.displayWholeNumbers_inside_mount_width {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayWholeNumbers_inside_mount_width_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.ScrollNumberInches_width_inside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleNumber_inside_mount_width:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedNumber_inside_mount_width {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.enter_width_inside_mount_rectangle_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_fractions_inside_mount_width {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_4 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.scroller_partition_width_inside_mount {
  display: flex;
  width: 100px;
}

.width_scroll_number_fractions_inside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.width_scroll_number_fractions_inside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}


.display_fractions_wrapper_inside_mount_width {
  width: 100px;
}

.ScrollNumberFractions_width_inside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.displayFractions_inside_mount_width {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayFractions_inside_mount_width_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}


.singleFraction_width_inside_mount:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedFraction_width {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.outside_mount_group {
  width: 850px;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left_right_outside_mount {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.visible_outside_mount {
  display: contents;
}

.invisible_outside_mount {
  display: none;
}

.left_outside_mount {
  display: flex;
  height: 500px;
  margin-top: 30px;
}

.outside_mount_group_left_side {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  align-items: center;
  justify-content: center;
}



.outside_mount_measurement_instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.measurement_instructions_title_outside_mount {
  font-size: 15px;
  color: #ffffff;
  background-color: #ababab;
  padding: 5px;
  border-radius: 0.24rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step_1_outside_mount,
.step_2_outside_mount,
.step_3_outside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 400px;
  height: 120px;
  padding: 10px;
  background-color: rgb(235, 235, 235);

}


.right_outside_mount {
  display: flex;
  height: 500px;
  width: max-content;
  margin-top: 30px;
}


.outside_mount_group_right_side {
  display: flex;
  align-items: center;
  justify-content: center;

}

.outsidemount_Image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-width: 2px;
  border-color: #3d3d3d;
  padding: 5px;
  border-radius: 0.45rem;
}

.enter_size_outside_mount_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: max-content;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 50pxs;
  border-width: 2px;
  border-radius: 0.45rem;
  border-color: #c2c2c2;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  transition: 0.4s;
}

.enter_size_outside_mount_group:hover {
  transition: 0.4s;
  box-shadow: rgb(60, 60, 60) 3px 2px 10px;
  border-color: #747474;
}

.enter_size_outside_mount_title {
  display: flex;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(43, 43, 43);
}

.enter_height_and_width_outside_mount_group {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  height: max-content;
  gap: 10px;
}

.enter_height_group_outside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 390px;
  background-color: rgb(235, 235, 235);
}

.height_and_toggle_outside_mount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.height_outside_mount_sub_title {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
  width: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
}

.inches_fractions_boat {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.enter_height_outside_mount_rectangle_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_inches_height_outside_mount {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}


.polygon_5 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.scroller_partition_inches_outside_mount {
  display: flex;
  width: 100px;
}

.height_scroll_number_inches_outside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.height_scroll_number_inches_outside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}

.display_whole_numbers_wrapper_outside_mount_height {
  width: 100px;
}

.displayWholeNumbers_outside_mount_height {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayWholeNumbers_outside_mount_height_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.ScrollNumberInches_height_outside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleNumber_outside_mount_height:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedNumber_height_outside_mount {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.enter_height_fractions_outside_mount_rectangle_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_width_fractions_outside_mount {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_6 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.scroller_partition_fractions_outside_mount {
  display: flex;
  width: 100px;
}

.height_scroll_number_fractions_outside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.height_scroll_number_fractions_outside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}

.display_fractions_wrapper_outside_mount_height {
  width: 100px;
}

.displayFractions_outside_mount_height {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayFractions_outside_mount_height_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.ScrollNumberFractions_height_outside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.singleFraction_height_outside_mount:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedFraction_outside_mount_height {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}


.enter_width_group_outside_mount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 390px;
  background-color: rgb(235, 235, 235);
}

.width_and_toggle_outside_mount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.width_outside_mount_sub_title {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: 700;
  width: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
}

.enter_width_outside_mount_rectangle_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_inches_width_outside_mount {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}

.polygon_7 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.scroller_partition_width_outside_mount {
  display: flex;
  width: 100px;
}

.width_scroll_number_inches_outside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.width_scroll_number_inches_outside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}

.display_whole_numbers_wrapper_outside_mount_width {
  width: 100px;
}

.displayWholeNumbers_outside_mount_width {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayWholeNumbers_outside_mount_width_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.ScrollNumberInches_width_outside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.singleNumber_outside_mount_width:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedNumber_outside_mount_width {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.enter_width_fractions_outside_mount_rectangle_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 150px;
  height: max-content;
  border-radius: 0.56rem;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  padding: 2px;
  height: 100px;
}

.toggle_disclaimer_width_fractions_outside_mount {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  margin: 10px;
  white-space: nowrap;
}


.polygon_8 {
  display: flex;
  transform: rotate(180deg);
  width: 10px;
  top: 0;
}

.width_scroll_number_fractions_outside_mount {
  position: static;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-width: 2px;
  border-radius: 0.45rem;
  box-shadow: rgb(133, 133, 133) 6px 5px 15px;
  border-color: rgb(107, 107, 107);
  padding: 5px;
  transition: 0.4s;
}

.width_scroll_number_fractions_outside_mount:hover {
  transform: scale(0.98);
  transition: 0.4s;
  overflow-y: scroll;
}

.display_fractions_wrapper_outside_mount_width {
  width: 100px;
}

.displayFractions_outside_mount_width {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 22px;
  height: 22px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.displayFractions_outside_mount_width_list_of_numbers {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 20px;
}

.ScrollNumberFractions_width_outside_mount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.singleFraction_width_inside_mount:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}

.selectedFraction_width_outside_mount_width {
  background-color: rgb(88, 0, 0);
  color: rgb(212, 212, 212);
  border-radius: 0.24rem;
  border-width: 1px;
  border-color: grey;
}


.select_color_type_seperator_line {
  display: flex;
  height: 3px;
  width: 98%;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 0.56rem;
}

.select_color_group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



.select_color_long_rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 35px;
  border-radius: 2rem;
  background-color: #c1c1c1;
  justify-content: start;
}

.select_color_short_rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  padding: 10px;
  border-radius: 2rem;
  background-color: #820000;
}

.select_color_short_rectangle:hover {
  cursor: default;
}

.iconforselectcolor {
  display: none;
  padding: 2px;
  width: 15px;
  height: auto;
  transform: rotate(90deg);
  margin: 10px;
}

.select_color_title {
  gap: 20px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #f1f1f1;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select_color_group_title_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 2rem;
  margin: 5px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.ellipse_and_type_select_material {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: max-content;
  padding: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(243, 243, 243);
  border-radius: 2rem;
  height: 20px;
  box-shadow: rgb(133, 133, 133) 1px 2px 5px;
  margin: 20px;
  margin-left: 20px;
}

.select_color_subtitle {
  display: flex;
  font-size: 15px;
  color: brown;
  margin-left: 20px;
  margin: 10px;
}

.select_lift_type_seperator_line {
  display: flex;
  height: 3px;
  width: 98%;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 0.56rem;
}

.select_lift_type_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 850px;
}

.titled_step_combo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 850px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}


.select_lift_type_long_rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 35px;
  border-radius: 2rem;
  background-color: #c1c1c1;
  justify-content: start;
}

.select_lift_type_short_rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  padding: 10px;
  border-radius: 2rem;
  background-color: #820000;
}

.select_lift_type_short_rectangle:hover {
  cursor: default;
}

.iconforselectlifttype {
  display: none;
  padding: 2px;
  width: 15px;
  height: auto;
  transform: rotate(90deg);
  margin: 10px;
}

.select_lift_type_group_title {
  gap: 20px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #f1f1f1;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select_lift_type_group_title_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 2rem;
  margin: 5px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.select_lift_type_subtitle {
  width: 850px;
  display: flex;
  padding: 20px;
  font-size: 13px;
  color: #5b5b5b;
}

.select_chain_side_wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  width: 850px;
}


.select_chain_side_wrapper_title {
  width: 850px;
  height: 20px;
  display: flex;
  padding-left: 20px;
  font-size: 11px;
  color: #5b5b5b;
}

.show_image_chain_buttons {
  width: 850px;
  display: flex;
  padding: 20px;
  gap: 10px;
}

.select_chain_left_box_button {
  width: 30px;
  padding: 5px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.56rem;
  border-width: 1px;
  border-color: #c3c3c3;
}


.select_chain_left_box_button:hover,
.select_chain_left_text:hover {
  background-color: #ececec;
  border-color: #ababab;
}


.select_chain_left_box_button_active {
  background-color: #e6e6e6;
  border-color: #444444;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
  transition: 0.4s;
}



.select_chain_left_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f3f3f;

}

.select_chain_right_box_button {
  width: 30px;
  padding: 5px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.56rem;
  border-width: 1px;
  border-color: #c3c3c3;
}

.select_chain_right_box_button:hover,
.select_chain_right_text:hover {
  background-color: #ececec;
  border-color: #ababab;
}

.select_chain_right_box_button_active {
  background-color: #e6e6e6;
  border-color: #444444;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
  transition: 0.4s;

}

.select_chain_right_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3f3f3f;
}

.show_right_chain_image_render {
  display: flex;
  width: 200px;
  height: auto;
}

.showleftchain_wrapper {
  display: flex;
}

.show_left_chain_image_render {
  display: flex;
  width: 200px;
  height: auto;
}

.select_chain_options {
  display: flex;
  flex-direction: column;
  width: 850px;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
}

.wand_option_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 20px;

}

.wand_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_wand_cordless_motorized {
  display: flex;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.option_subtitles {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 11px;
  font-weight: 500;
  padding: 5px;
  height: 40px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}

.wand_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 40px;
  height: 20px;
  padding: 10px;
  border-radius: 0.45rem;
  border-color: #8f8f8f;
  border-width: 1px;
  white-space: nowrap;
}

.free_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  padding: 10px;
  border-width: 1px;
  border-radius: 0.45rem;
  border-color: rgb(233, 233, 233);
  white-space: nowrap;
  color: grey;
}

.cord_less_option_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.option_ellipse_wrapper {
  width: 30px;
}

.cord_less_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_wand_cordless_motorized {
  display: flex;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.option_subtitles {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 11px;
  font-weight: 500;
  padding: 5px;
  height: 40px;
  white-space: nowrap;
}

.cord_less_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 40px;
  height: 20px;
  padding: 10px;
  border-radius: 0.45rem;
  border-color: #8f8f8f;
  border-width: 1px;
  white-space: nowrap;
}


.cordlift_price_value_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  padding: 10px;
  border-width: 1px;
  border-radius: 0.45rem;
  border-color: rgb(218, 218, 218);
  white-space: nowrap;
  color: green;
}


.motorized_option_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.motorized_ellipse_wrapper {
  width: 30px;
}

.motorized_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_wand_cordless_motorized {
  display: flex;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.option_subtitles {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 11px;
  font-weight: 500;
  padding: 5px;
  height: 40px;
  white-space: nowrap;
}

.motorized_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 40px;
  height: 20px;
  padding: 10px;
  border-radius: 0.45rem;
  border-color: #8f8f8f;
  border-width: 1px;
  white-space: nowrap;
}

.options_price_seperator {
  height: 3px;
  width: 20px;
  background-color: rgb(85, 85, 85);
  border-radius: 0.60rem;
}

.motorized_price_value_subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  padding: 10px;
  border-width: 1px;
  border-radius: 0.45rem;
  border-color: rgb(218, 218, 218);
  white-space: nowrap;
  color: green;

}

.select_head_rail_seperator_line {
  display: flex;
  height: 2px;
  width: 98%;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: rgb(122, 122, 122);
  border-radius: 0.56rem;
}


/* Start of Fabrics Page */
.select_head_rail_group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 850px;
}

.titled_step_combo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 850px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.select_cassette_head_rail_long_rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 850px;
  height: 35px;
  border-radius: 2rem;
  background-color: #c1c1c1;
  justify-content: start;
}

.select_cassette_head_rail_short_rectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 35px;
  padding: 10px;
  border-radius: 2rem;
  background-color: #820000;
}

.select_cassette_head_rail_short_rectangle:hover {
  cursor: default;
}

.iconforselect_cassette_head_rail {
  display: none;
  padding: 2px;
  width: 15px;
  height: auto;
  transform: rotate(90deg);
  margin: 10px;
}

.select_head_rail_group_title {
  gap: 20px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  color: #f1f1f1;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select_head_rail_group_title_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 2rem;
  margin: 5px;
  font-size: 10px;
  width: 20px;
  height: 20px;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.select_head_rail_subtitle {
  width: 850px;
  display: flex;
  padding: 20px;
  font-size: 13px;
  color: #5b5b5b;
}

.select_head_rail_option_group {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: start;
  justify-content: flex-start;
  width: 850px;
}

.select_head_rail_option_selection_wrapper {
  display: flex;
  flex-direction: row;
}

.select_head_rail_cassette_option_selection_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.select_cassette_ellipse1 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_cassette_round1 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.select_head_rail_image_and_tag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.cassette_chosen_image {
  display: flex;
  width: 70px;
  height: auto;
  border-radius: 0.85rem;
}


.cassette_type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  white-space: nowrap;
  font-size: 12px;
  width: 100px;
}

.select_head_rail_round_option_selection_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.select_round_ellipse1 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem
}

.active_cassette_round1 {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.round_chosen_image {
  display: flex;
  width: 70px;
  height: auto;
  border-radius: 0.85rem;
}

.round_type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  white-space: nowrap;
  font-size: 12px;
  width: 100px;
}

.fabric_types_top_and_bottom_main_wrapper {
  display: flex;
  width: 850px;
  height: max-content;
}

.fabric_types_top_and_bottom_second_wrapper {
  display: flex;
  width: max-content;
  padding: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-top: 50px;
  transition: 0.6s;
  height: max-content;
}

.fabric_types_top_and_bottom_second_wrapper::before {
  transition: 0.6s;

}

.fabric_types_top_and_bottom_second_wrapper:hover {
  border-width: 3px;
  border-top: none;
  border-color: rgb(181, 181, 181);
  transition: 0.6s;
  transform: scale(0.99);
}

.pick_head_rail_color_titles_wrapper {
  display: flex;
  width: 850px;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.fabric_types_subtitle {
  width: 500px;
  display: flex;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 13px;
  color: #5b5b5b;
}

.pick_head_rail_color_subtitle {
  width: 500px;
  display: flex;
  padding-left: 20px;
  font-size: 13px;
  color: #5b5b5b;
  margin-top: 20px;
}

.top_section {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 20px;
  align-items: start;
  justify-content: start;
}

.fabric_list_top {
  width: 450px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.fabric_list_top_image_and_description {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 80px;
  margin: 20px;
}

.fabric_list_top_image {
  display: flex;
  width: 80px;
  height: 80px;
}

.fabric_list_top_image_description {
  display: flex;
}

.skip_top_section {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding-left: 20px;
  align-items: start;
  justify-content: start;
  margin-top: 60px;
}

.ellipse_and_title {
  display: flex;
  flex-direction: row;
  align-self: start;
  justify-self: start;
}

.skip_head_rail_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_skip_head_rail_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.skip_head_rail_color {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 13px;
  color: #5b5b5b;
}

.note_skipping_color_for_head_rail {
  display: flex;
  padding: 20px;
  font-size: 10px;
  color: #6b0a0a;
}

.bottom_section {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding: 20px;
  align-items: start;
  justify-content: start;
}

.fabric_list_bottom {
  width: 450px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.fabric_list_bottom_image_and_description {
  display: flex;
  flex-direction: column;
  height: 90px;
  width: 80px;
  margin: 20px;
}

.fabric_list_bottom_image {
  display: flex;
  width: 80px;
  height: 80px;
}

.fabric_list_bottom_image_description {
  display: flex;
}

.skip_bottom_section {
  display: flex;
  width: 500px;
  flex-direction: column;
  padding-left: 20px;
  align-items: start;
  justify-content: start;
  margin-top: 60px;

}

.ellipse_and_title {
  display: flex;
  flex-direction: row;
  align-self: start;
  justify-self: start;
}

.skip_bottom_rail_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_skip_bottom_rail_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.skip_bottom_rail_color {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-size: 13px;
  color: #5b5b5b;
}

.note_skipping_color_for_bottom_rail {
  display: flex;
  padding: 20px;
  font-size: 10px;
  color: #6b0a0a;
}

.extra_options_set_main_wrapper {
  display: none;
  width: 850px;
  padding: 20px;
}

.extra_options_set_second_wrapper {
  display: flex;
  width: 850px;
}

.extra_options_set {
  display: flex;
  width: 850px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.bottom_rail_option_1 {
  display: flex;
  flex-direction: column;
}

.extra_options_set_ellipse_and_image {
  display: flex;
  flex-direction: row;
}

.bottom_rail_option_1_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_bottom_rail_option_1_ellipse {
  display: flex;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.option_1_Image {
  display: flex;
  width: 100px;
  height: 100px;
}

.option_1_text {
  display: flex;
  word-wrap: nowrap;
}

.option_1_price {
  display: flex;
  word-wrap: nowrap;
}

.bottom_rail_option_2 {
  display: flex;
  flex-direction: column;
}

.extra_options_set_ellipse_and_image {
  display: flex;
  flex-direction: row;
}

.bottom_rail_option_2_ellipse {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #9f9f9f;
  border-radius: 1rem;
}

.active_bottom_rail_option_2_ellipse {
  display: flex;
  background-color: #29b200;
  box-shadow: rgb(80, 80, 80) 0px 0px 5px;
}

.option_2_Image {
  display: flex;
  width: 100px;
  height: 100px;
}

.option_1_text {
  display: flex;
  word-wrap: nowrap;
}

.option_2_price {
  display: flex;
  word-wrap: nowrap;
}

.pick_bottom_rail_color_titles_wrapper {}

.fabric_types_subtitle {
  width: 500px;
  display: flex;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 13px;
  color: #5b5b5b;
}

.pick_bottom_rail_color_subtitle {
  width: 500px;
  display: flex;
  padding-left: 20px;
  font-size: 13px;
  color: #5b5b5b;
  margin-top: 20px;
}

.see_bill_button_wrapper {
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see_bill_button {
  display: flex;
  margin: 20px;
}

.see_bill_text {
  font-size: 10px;
}

.head_rail_color_answer {
  display: flex;
}

.bottom_rail_color_answer {
  display: flex
}

.casette_head_rail_type_answer {}

.bottom_rail_type_answer {}


/* End of Fabrics Page */
.quantity_seperator_line {
  display: flex;
  height: 2px;
  width: 98%;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: rgb(122, 122, 122);
  border-radius: 0.56rem;
}

.quantity_and_add_to_cart_group {
  display: flex;
  width: 850px;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
}

.quantity_title {
  display: flex;
  font-size: 15px;
}

.quantity_rectangle_and_numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.quantity_title {
  display: flex;
}

.quantity_rectangle {
  height: 25px;
  width: 100px;
  background-color: rgb(237, 237, 237);
  border-radius: 0.05rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.qty {
  display: flex;
}


.question_mark_ellipse_and_number_wrapper,
.question_mark_ellipse_and_number_wrapper * {
  box-sizing: border-box;
}

.question_mark_ellipse_and_number_wrapper {
  flex-shrink: 0;
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.question_ellipse {
  background: rgba(217, 217, 217, 0);
  border-radius: 50%;
  border-style: solid;
  border-color: #faa500;
  border-width: 0.5px;
  width: 11px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.questiomark {
  color: #faa500;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 7px;
  font-weight: 700;
  width: 5px;
  height: 8px;
  margin-bottom: 2px;
}

.question_mark {
  display: flex;
  width: 15px;
  height: 15px;
}

.quantity_is_always_1_wrapper {
  display: flex;
  width: max-content;
  border-width: 2px;
  border-color: grey;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2rem;

}

.quantity_is_always_1 {
  display: flex;
  white-space: nowrap;

}

.quantity_is_always_1_note {
  font-size: 10px;
  font-weight: 600;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.review_your_order {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-variant-caps: black;
  font-weight: 700;
}

.review_your_order_seperator_line {
  display: flex;
  height: 3px;
  width: 490px;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(191, 191, 191);
  border-radius: 0.56rem;
}


.review_your_order_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: max-content;
  border-width: 2px;
  background-color: rgb(241, 241, 241);
  padding-left: 20px;
  padding: 20px;
  border-width: 2px;
  border-color: rgb(217, 217, 217);
}

.order_items_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 13px;
  color: black;
}

.bill_divider {
  display: flex;
  height: 2px;
  width: 450px;
  border-radius: 0.24rem;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgb(71, 71, 71);
}

.description_and_answer {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  gap: 100px;
}










.shipping_details_group_wrapper {
  display: flex;
  width: 850px;
  align-items: center;
  justify-content: center;
  margin-top: 50pxs;
}

.shippingtruck_1 {
  display: flex;
  height: 20px;
  width: auto;
  margin: 5px;
}

.paymenticon {
  display: flex;
  height: auto;
  width: 30px;
  margin: 5px;
}

.paypalicon {
  display: flex;
  height: auto;
  width: 30px;
  margin: 5px;
}















/* mobile styling */

@media (min-width: 300px) and (max-width: 1190px) and (orientation: landscape) {
  .top_title_area {
    display: flex;
    width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
  }

  .star_group {
    display: flex;
    width: 480px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  /* inside mount */

  .inside_mount_group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .left_inside_mount {
    display: flex;
    height: 500px;
    width: 250px;
    margin-top: 30px;
  }


  .insidemount_Image {
    width: 600px;
  }

  .step_1_inside_mount,
  .step_2_inside_mount,
  .step_3_inside_mount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    width: 500px;
    height: 100px;
    background-color: rgb(233, 233, 233);
  }

  .step_tag_description {
    display: flex;
    width: max-content;
    width: 400px;
    height: 90px;
  }

  /* outside mount */

  .outside_mount_group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .outsidemount_Image {
    width: 600px;

  }

  .step_1_outside_mount,
  .step_2_outside_mount,
  .step_3_outside_mount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    width: 500px;
    height: 100px;
    background-color: rgb(233, 233, 233);
  }




}


@media (min-width: 300px) and (max-width: 1190px) and (orientation: portrait) {
  .top_title_area {
    display: flex;
    width: 480px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
  }

  .star_group {
    display: flex;
    width: 480px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  .inside_mount_group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .insidemount_Image {
    width: 600px;
  }

  .step_1_inside_mount,
  .step_2_inside_mount,
  .step_3_inside_mount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 500px;
    height: 100px;
    background-color: rgb(233, 233, 233);
  }

  .step_tag_description {
    display: flex;
    width: max-content;
    width: 400px;
    height: 90px;
  }
}



/* mobile styling */